@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Podczas przetwarzania zapytania wystąpił błąd.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Identyfikator zapytania:</strong> <code>@Model.RequestId</code>
    </p>
}
